/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.outer-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.number-to-remember-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.m-1 {
  margin: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.font-large {
  font-size: 3.2em;
}

.validation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.numbers-input {
  display: flex;
  gap: 0.5em;
}

.numbers-input input {
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  text-align: center;
  border-radius: 4px;
  background: #3b3b3b;
  border: 1px solid #acacac;
}

.numbers-input .wrong {
  border: 1px solid #b41612;
}

.numbers-input .correct {
  border: 1px solid #0f9d58;
}